<div class="home-person" aria-label="CSS placeholder person for a future portrait" role="img">
  <div class="home-person__halo"></div>
  <div class="home-person__head"></div>
  <div class="home-person__body">
    <div class="home-person__badge"></div>
  </div>
  <div class="home-person__arm home-person__arm--left"></div>
  <div class="home-person__arm home-person__arm--right"></div>
  <div class="home-person__desk">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
